﻿.header {
    background-color: #F1F1F1;
    text-align: center;
    font-size: 35px;
}
#banner {
    width:auto;
    position:relative;
}
#banner img{
    width:100%;
    display:block;
}
.content {
    color: blue;
    font-size: 25px;
}
p {
    padding-right: 20px;
    padding-left: 20px;
}
h1 {
    color: green;
}
ul {
    list-style-type: circle;
}
a {
    color:purple;
}
a img{
  border-radius: 8px;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
 
}

li.nav-bar-item {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
}
    li.nav-bar-item a {
       
    }
    li.nav-bar-item a:hover {
        background-color: yellow;
       
    }



    #values td, #values th {
        border: 1px solid black;
        padding: 8px;
        width: 50%;
    }



    #values tr:hover {
        background-color: #ddd;
    }

    #values th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
    }

.column {
    float: left;
    width: 48%;
    padding: 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: yellow;
    text-align: center
}
